.idea/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.log



/docker/ml/.ipynb_checkpoints/
/ml/*.log
/ml/*.ipynb
/docker/datastore


#ignore historical data
/docker/historical/_*

# terraform
google_resources/terraform/.terraform/*
google_resources/terraform/terraform.lock.hcl
google_resources/terraform/terraform.tfstate
google_resources/terraform/terraform.tfstate.backup
google_resources/terraform/terraform.tfvars



