name: Format Check

on:
  push:
    branches: [main]
    paths:
      - 'docker/**'
  pull_request:
    branches: [dev, main]
    paths:
      - 'docker/**'

jobs:
  format-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black==25.9.0
#        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Check formatting with black
      run: |
        black --check --diff .